{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/clin.css' %}" />
</head>

{% include 'partials/templates.html' %}

<body>
<div class="container content-wrapper">
{% block content %}{% endblock %}
</div>

<footer>
An Alex Moon Production &bull; <a href="https://github.com/alex-moon/clin/">Github</a>
</footer>

<script src="{% static 'js/jquery.min.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>