{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="home-view">
    <div class="container clin-box glossy">
        <h2>Welcome to Clin</h2>
        <label>Select your mode:
            <div class="btn-group mode-switcher" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="mode" data-mode="test" checked="checked" /> Test
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="mode" data-mode="add" /> Add
                </label>
            </div>
        </label>
    </div>

    {% include 'partials/card-box.html' %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/underscore.min.js' %}"></script>
<script src="{% static 'js/backbone.min.js' %}"></script>
<script src="{% static 'js/clin.js' %}"></script>
{% endblock %}