container_commands:
  01_env:
    command: "pip install -r deploy/requirements.txt"
  08_static:
    command: "www/manage.py collectstatic --noinput"
  10_syncdb:
    command: "www/manage.py syncdb --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: www/clin/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: clin.settings
