<script type="text/template" id="test-view-template">
    <div class="row fade-in" data-card="<%= card.pk %>">
        <form>
            <input type="hidden" name="pk" value="<%= card.pk %>" />
            <div class="col-md-4 test-view-question">
                <label><%= card.question %></label>
            </div>
            <div class="col-md-4 test-view-answer">
                <input name="answer" type="text" value="" />
            </div>
            <div class="col-md-4 test-view-submit">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="add-view-template">
    <div class="row">
        <form>
            <div class="col-md-4 add-view-question">
                <input name="question" type="text" value="" />
            </div>
            <div class="col-md-4 add-view-answer">
                <input name="answer" type="text" value="" />
            </div>
            <div class="col-md-4 add-view-submit">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</script>