<script type="text/template" id="test-view-template">
    <div class="row" data-card="<%= card.pk %>">
        <form>
            <input type="hidden" name="pk" value="<%= card.pk %>" />
            <div class="col-md-8 test-view-question">
                <div><label><%= card.question %> <input name="answer" type="text" value="" autocomplete="off" /></label></div>
                <div class="test-flash-answer"><%= card.answer %></label></div>
            </div>
            <div class="col-md-4 test-view-submit">
                <button type="submit" class="btn btn-primary" data-loading-text="Submitting...">Submit</button>
                <button class="btn btn-default test-view-skip">Skip</button>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="add-view-template">
    <div class="row">
        <form>
            <div class="col-md-5 add-view-question">
                <label>French
                <input name="french" type="text" value="" />
                </label>
            </div>
            <div class="col-md-5 add-view-answer">
                <label>English
                <input name="english" type="text" value="" />
                </label>
            </div>
            <div class="col-md-2 add-view-submit">
                <button type="submit" class="btn btn-primary" data-loading-text="Submitting...">Submit</button>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="error-msg-template">
    <div class="alert alert-warning fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <%= error %>
    </div>
</script>
